In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv("house_price.csv")
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X=data.drop(['price'],axis=1)
y=data["price"]

In [4]:
data.shape

(7120, 108)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
dtr=DecisionTreeRegressor()

In [9]:
dtr.fit(X_train,y_train)

DecisionTreeRegressor()

# Accuracy

In [10]:
dtr.score(X_test,y_test)

0.8344690811550752

# Testing randomly

In [11]:
test=X_test.iloc[-1,:]

In [12]:
dtr.predict([test])

array([35.5])

In [13]:
y_test.iloc[-1]

35.0

# Prediction

In [14]:
predicted=dtr.predict(X_test)

In [15]:
predicted

array([70.  , 32.9 , 85.05, ..., 30.  , 32.63, 35.5 ])

In [16]:
y_test

4423     72.0
6520     34.0
6173     85.0
3485    155.0
4034     18.0
        ...
2538     96.0
5514     54.0
4390     28.0
1490     32.0
250      35.0
Name: price, Length: 1424, dtype: float64

from six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus
sasa

dot_data=StringIO()
export_graphviz(dtr,out_file=dot_data,filled=True,rounded=True,special_characters=True)
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('house-pricetree.png')